<%- include ("../partials/header") %>

<H1><%= campground.name %></H1>
<img src="<%=campground.image%>" alt="">
<p><%= campground.description%></p>
<p>
    <a class="btn btn-success" href="/campground/<%=campground._id%>/comment/new">Add new comment..</a>
</p>
<%campground.comments.forEach(function(comment){%>
    <p>
        <strong><%=comment.author%></strong> - <%= comment.text%></p>

<%})%>



<%- include ("../partials/footer") %>