<%- include ("partials/header") %>


<div class="container">
    <header class="jumbotron">
        <H1>Welcome to Yelp Camp!!</H1>
        <p>View our amazing campgrounds from all over the world.</p>
        <p>
            <a class="btn-primary btn-lg" href="/campground/new">Add New Camp</a>
        </p>
    </header>
    
   
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="img-fluid img-thumbnail">
                    <!-- <H4><%= campground.name %></H4> -->
                    <img src="<%= campground.image %>" class="img-thumbnail img-fluid" alt="There should be a image..." style="height: 15rem; width: 15rem;">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <a href="/campground/<%= campground._id %>" class="btn btn-info">More Info</a>
                </div>
            </div>
                
        

        <% }); %>
    </div>
</div>



<%- include ("partials/footer") %>